@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #21074f;
  --secondary-color: #0c3981;
  --tertiary-color: #24ce2a;
  --tertiary-color-light: #25da9e;
  --background_color-light: #8c60de;
  --background_color-dark: #7d65a7;

  --background-color: #F3F4F6;
}

body {
  background: var(--background-color);
  font-family: 'Inter', sans-serif;
}
